{% extends 'base.html' %}
{% block maidata %}
<style type="text/css">
table, th, td {
    padding: 15px;
    border: 1px solid black;
    font-size: 15px;
}
</style>
  <table class="table table-striped table-dark">
    <tr>
      <th>Day and date of Joining ID</th>
      <th colspan="5">address</th>
      <th>Unique Identification code</th>
      <th>Phone Number</th>
    </tr>
    <tr>
{% for maid in maids %}
<tr>
<td>{{ maid.date_added|date:'M d, Y H:i' }}</td>
<td colspan="5">{{ maid.address|linebreaks }}</td>
<td>{{ maid.maidid }}</td>
<td>{{ maid.phone_number }}</td>
</tr>
{% empty %}
<tr>
<td>No maids have signed up yet.</td>
</tr>
{% endfor %}
</table>
{% endblock %}
